body {
    background: steelblue;
    text-align: center;
    padding: 0 25px;
    font-family: Roboto;
}

.button{
    border: 1px solid black;
    margin: 3px;
    cursor: pointer;
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: navajowhite;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
    background-color: mistyrose;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: transparent;
    overflow-wrap: break-word;
}

.chat .username {
    font-weight: 800;
}
.chat .roomName{
    font-weight: 500;
    font-size: 10px;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}
.hidden{
    display: none;
}

.spinner img {
    padding: 10px;
}

.friendMessage {
    color: #fff;
    background-color: #0090da;
    font-weight: bold;
}
.favoriteMessage{
    color: tomato;
    background-color: thistle;
    font-weight: bold;
}
.favIcon{
   width: 25px;
   height: 25px;
}
.submitButton{
    margin-top: 10px;
}
.roomOptions{
   background-color: #26a69a;
   color: white;
   padding-left: 25px;
}
